@import "tailwindcss";

.card {
  @apply rounded-2xl w-fit relative overflow-hidden p-[1px];
  isolation: isolate; /* Creates a stacking context without affecting other elements */
}

.card::before {
  background: conic-gradient(transparent 70%, black);
  content: '';
  position: absolute;
  inset: -1px;
  z-index: -1;
  animation: border-spin 5s linear infinite;
  /* Remove will-change to prevent performance issues */
}

.image_card{
  @apply relative w-fit
}

.image_card::before{
  background: conic-gradient(transparent 70%, green);
  inset: -1px;
  @apply content-[''] absolute bg-green-400  z-[-1] blur-xs rounded-2xl
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}